<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738186426535-e7ostqgeni749p6kuh4h4gnceo57r21d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738186426535-e7ostqgeni749p6kuh4h4gnceo57r21d</string>
	<key>API_KEY</key>
	<string>AIzaSyBNPrqnETkOfToeGxCpee7TTivh1E0vgQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>738186426535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.wustl.cse438.U-O-ME</string>
	<key>PROJECT_ID</key>
	<string>final-project-591d1</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-591d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738186426535:ios:633f0a4d4b78cbbd088382</string>
	<key>DATABASE_URL</key>
	<string>https://final-project-591d1.firebaseio.com</string>
</dict>
</plist>